.grid-item-details {
    &__container {
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8)
    }
    &__image {
        float: left;
        margin-right: 16px;
    }
}